
body{
    background-color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ecf0f1;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150vh;

}

h1{
    text-align: center;
    font-size: 3.5em;
}

p{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

canvas{
    display: block;
    margin: auto;
    border: 3px sold #ecf0f1;
    background-color: #34495e;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

canvas:hover{
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.7);
}
.extra-content{
    margin-top: 40px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color:#34495e;
    text-align: left;
    color:#ecf0f1 ;
    border-radius: 10px;
}


.extra-content h2 , .extra-content h3{
    text-align: center;
    font: 2em;
    margin-bottom: auto;
}

@media(max-width: 768px){

    body{
        padding: 10px;
    }

    h1{
        font-size: 2.5em;
    }
    p{
        font-size: 1.2em;
        margin-bottom: 20px;

    }
    canvas{
        width: 100%;
        height: auto;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
    }
    .extra-content h3, .extra-content h2{
        font-size: 1.8em;
    }

}

@media(max-width: 480px){

    h1{
        font-size: 2em;
    }
    p{
        font-size: 1em;
    }
    .extra-content{
        padding: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

    }
    .extra-content h2 ,.extra-content h3{
        font-size: 1.5em;
    }
}
